@mobile: ~"only screen and (min-width: 320px) and (max-width: 500px)";
@desktop: ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet: ~"only screen and (min-width: 501px) and (max-width: 959px)";

.pokemon-details-header.ant-layout-header {
  padding: 11px !important;
  height: 40vh;
  svg {
    fill: @white-color;
    width: 32px;
    cursor: pointer;
  }
  img {
    width: 250px;
    height: 250px;
    border-radius: 13px;
    // box-shadow: 0px 7px 55px -26px rgba(0, 0,  0,0.75);
    z-index: 100;

    @media @mobile {
      width: 200px;
      height: 200px;
      margin: 70px auto 0;
    }
    @media @tablet {
      width: 200px;
      height: 200px;
      margin: 70px auto 0;
    }
  }
}

.ant-layout.pokemon-details {
  // background-color: @primary-color !important;
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  padding: 0;
  position: relative;

  .ant-spin {
    color: @white-color;
    margin-top: 50%;
  }

  .ant-layout-content {
    background-color: @white-color;
    border-radius: 30px 30px 0 0;

    .layout-content-wrapper {
      background-color: white;
      display: flex;
      flex-direction: column;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
    }

    .pokemon-name {
      margin: 11px auto 0;
    }

    .pokemon-info {
      display: flex;
      flex-direction: column;
    }

    ul {
      width: 100%;
      padding: 57px 36px;
      max-width: 1000px;
      margin: auto;

      li {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ant-tag {
          width: 54px;
          font-size: @font-size-sm !important;
        }
      }

      strong {
        color: @normal-color;
        font-weight: 600;
        font-size: @font-size-md;
      }
    }
  }
}
.pokemon-tag {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50px;
  margin-left: 10px;
}
.pokemon-types {
  width: 100vw;
}

.card-shadow {
  padding: 10px 0;
  min-height: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}
